include layout/head/head

// лайолит
include layout/page-header/page-header
include layout/page-footer/page-footer
include layout/head/styles
include layout/head/fonts
include layout/scripts
include layout/page-footer/templates


// блоки
include blocks/catalog-filter/catalog-filter
include blocks/select-list/select-list
include blocks/dpopdown/dropdown
include blocks/tabs/tabs
include blocks/catalog-header/catalog-header


include blocks/modals/modal-slim
include blocks/modals/modal-simple
include blocks/modals/modal-map
