mixin catalogHeader
    .catalog-header.catalog-header__description-wrapper
        ._title-block
            p для лица
            h1 Против пигментации и депиляции
            p 15 товаров
        ._inner
            ._inner-wrap
                ._img
                    img(src="i/header.jpg" alt="изображение")
            ._description
                p Подборка терапевтической косметики от врачей дерматологов GEN красоты. Мы подобрали для вас средства, которые:
                ul
                    li выравнивают тон кожи
                    li регулируют выработку пигмента
                    li выравнивают тон кожи
                    li регулируют выработку пигмента
                    li выравнивают тон кожи
                    li регулируют выработку пигмента



