mixin modalSlim
    .modal.modal-slim(data-template="slim")
        .__nav
            button(type="button" data-target="close").__back
            p.__title Фильтры
            //.__clear.text-link.js-clear-counter Очистить
        ._body
        ._footer
           button(type="button").button Показать товары
